.div {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    width: 300px;
}

.label {
    display: flex;
    padding: 10px;
}